@import url("/fonts/fonts.css");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
  background-color: #f9f5f1;

  overflow-x: hidden;

  #prices,
  #about,
  #contact {
    scroll-margin-top: 100px;
  }
}
